# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Datasets and testing data
dataset/
testing/

# Jupyter notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
